.about-page h2 {
  color: #8b78e2;
}

.about-page .social-media {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.about-page .social-media img {
  width: 100%;
  height: 100%;
}

.about-page .social-media.linkedin img {
  transform: translateY(-0.5px) scale(1.11);
}

.about-page .timeline {
  position: relative;
  padding: 80px 0;
  margin-bottom: 40px;
  height: 174px;
}

@media (max-width: 740px) {
  .about-page .timeline {
    height: 400px;
    padding: 0 170px;
    margin: 20px auto;
    width: 354px;
  }
}

@media (max-width: 400px) {
  .about-page .timeline {
    padding: 0 130px;
    width: 274px;
  }
}

.about-page .timeline .timeline-sec {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.about-page .timeline .timeline-sec:nth-child(1) {
  width: 5%;
}

.about-page .timeline .timeline-sec:nth-child(2) {
  width: 15%;
}

.about-page .timeline .timeline-sec:nth-child(3) {
  width: 5%;
}

.about-page .timeline .timeline-sec:nth-child(4) {
  width: 45%;
}

.about-page .timeline .timeline-sec:nth-child(5) {
  width: 15%;
}

.about-page .timeline .timeline-sec:nth-child(6) {
  width: 15%;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-sec {
    display: block;
    width: 100% !important;
  }

  .about-page .timeline .timeline-sec:nth-child(1) {
    height: 5%;
  }

  .about-page .timeline .timeline-sec:nth-child(2) {
    height: 15%;
  }

  .about-page .timeline .timeline-sec:nth-child(3) {
    height: 5%;
  }

  .about-page .timeline .timeline-sec:nth-child(4) {
    height: 45%;
  }

  .about-page .timeline .timeline-sec:nth-child(5) {
    height: 15%;
  }

  .about-page .timeline .timeline-sec:nth-child(6) {
    height: 15%;
  }
}

.about-page .timeline .timeline-sec .sec-fill {
  height: 100%;
}

.about-page .timeline .timeline-sec .sec-fill.half {
  height: 50%;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-sec .sec-fill.half {
    display: inline-block;
    height: 100%;
    width: 50%;
  }
}

.about-page .timeline .timeline-label {
  position: absolute;
  bottom: 0;
  height: 65px;
  margin-left: -30px;
  padding: 5px 0 0 0;
  transition: all 0.5s 0.25s;
  white-space: nowrap;
}

.about-page .timeline .timeline-label.top-label {
  padding: 0 0 5px 0;
  top: 0;
  bottom: auto;
}

.about-page .timeline .timeline-label:hover {
  margin-left: -100px;
  transition-delay: 0s;
}

.about-page .timeline .timeline-label:nth-child(1) {
  left: 12.5%;
}

.about-page .timeline .timeline-label:nth-child(2) {
  left: 12.5%;
}

.about-page .timeline .timeline-label:nth-child(3) {
  left: 47.5%;
}

.about-page .timeline .timeline-label:nth-child(4) {
  left: 77.5%;
}

.about-page .timeline .timeline-label:nth-child(5) {
  left: 92.5%;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-label {
    right: 0;
    left: auto !important;
    bottom: auto;
    padding: 0 0 0 5px;
    margin: -30px 0 0 0;
    width: 160px;
    height: auto;
  }

  .about-page .timeline .timeline-label:hover {
    margin: -51px 0 0 0;
  }

  .about-page .timeline .timeline-label.top-label {
    left: 0 !important;
    right: auto;
    padding: 0 5px 0 0;
    text-align: right;
  }

  .about-page .timeline .timeline-label:nth-child(1) {
    top: 12.5%;
  }

  .about-page .timeline .timeline-label:nth-child(2) {
    top: 12.5%;
  }

  .about-page .timeline .timeline-label:nth-child(3) {
    top: 47.5%;
  }

  .about-page .timeline .timeline-label:nth-child(4) {
    top: 77.5%;
  }

  .about-page .timeline .timeline-label:nth-child(5) {
    top: 92.5%;
  }
}

@media (max-width: 400px) {
  .about-page .timeline .timeline-label {
    width: 120px;
  }
}

.about-page .timeline .timeline-label .tick {
  position: absolute;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  top: -15px;
  height: 15px;
}

.about-page .timeline .timeline-label.top-label .tick {
  top: auto;
  bottom: -15px;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-label .tick {
    top: 50% !important;
    bottom: auto !important;
    margin: -2px 0 0 0 !important;
    left: -10px;
    height: 4px;
    width: 10px;
  }

  .about-page .timeline .timeline-label.top-label .tick {
    left: auto;
    right: -10px;
  }
}

.about-page .timeline .timeline-label img,
.about-page .timeline .timeline-label .text {
  display: inline-block;
  vertical-align: middle;
}

.about-page .timeline .timeline-label img {
  height: 60px;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-label img {
    height: auto;
    width: 60px;
  }
}

.about-page .timeline .timeline-label .text {
  font-size: 80%;
  visibility: hidden;
  width: 0;
  transition: margin-left 0.5s 0.25s, width 0.5s 0.25s, visibility 0.5s 0.25s, opacity 0.5s;
  opacity: 0;
}

.about-page .timeline .timeline-label:hover .text {
  visibility: visible;
  width: 130px;
  margin-left: 10px;
  transition: margin-left 0.5s, width 0.5s, visibility 0.5s, opacity 0.5s 0.25s;
  opacity: 1;
}

@media (max-width: 740px) {
  .about-page .timeline .timeline-label .text {
    display: block;
    width: auto !important;
    height: 0;
    margin: 0;
    transition: margin-top 0.5s 0.25s, height 0.5s 0.25s, visibility 0.5s 0.25s, opacity 0.5s;
  }

  .about-page .timeline .timeline-label:hover .text {
    height: 36px;
    margin: 6px 0 0 0;
    transition: margin-top 0.5s, height 0.5s, visibility 0.5s, opacity 0.5s 0.25s;
  }
}

@media (max-width: 400px) {
  .about-page .timeline .timeline-label .text {
    font-size: 70%;
  }
}

.about-page .timeline .timeline-label .text span {
  display: block;
}

.about-page .timeline .ut {
  background: #de6f2c;
}

.about-page .timeline .loku {
  background: #f5d041;
}

.about-page .timeline .crowdmed {
  background: #aa2228;
}

.about-page .timeline .pixelkeet {
  background: #a5cd46;
}

.about-page .timeline .common {
  background: #342449;
}
