html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
  color: rgb(119,119,119);
}

.page-container {
  min-height: 100%;
  position: relative;
}


.page-header {
  position: relative;
  height: 170px;
  background: #4286f4;
}

.page-header .profile {
  border: 3px solid white;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}
.page-header .profile img {
  height: 100%;
  width: 100%;
}


.main-links {
  position: absolute;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 200%;
  font-family: 'Aldrich';
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: top .8s;
}
.main-links.page-active {
  top: 0;
}

.main-links .main-link {
  position: relative;
  height: 33.33%;
  cursor: pointer;
}

.main-links .main-link.green {
  background: #2cd673;
}
.main-links .main-link.red {
  background: #c92222;
}
.main-links .main-link.purple {
  background: #9f25c4;
}

.main-links .main-link:before {
  content: '';
  height: 100%;
}
.main-links .main-link:before,
.main-links .main-link span {
  display: inline-block;
  vertical-align: middle;
}

.main-link-animation {
  transition: transform .8s ease-out, height .8s ease, font-size .8s ease;
  transform: translate3d(0, 0, 0);
}
.main-link-animation.active {
  font-size: 200%;
  height: 170px;
}
.main-link-animation.inactive {
  transform: translate3d(-100%, 0, 0);
}
.main-link-animation.inactive:not(.page-header) {
  height: 0;
}


.nav-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Aldrich';
  text-transform: uppercase;
  line-height: 50px;
}

.nav-links .nav-link {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  cursor: pointer;
  background: white;
}
.nav-links .nav-link.blue {
  color: #4286f4;
}
.nav-links .nav-link.green {
  color: #2cd673;
}
.nav-links .nav-link.red {
  color: #c92222;
}
.nav-links .nav-link.purple {
  color: #9f25c4;
}


.page {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: opacity 1s, max-height 0s, padding 0s;
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
}
.page.active {
  opacity: 1;
  max-height: 9999px;
  padding: 20px 0 50px;
  z-index: 1;
}
