html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
  color: rgb(119,119,119);
}
@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

.page-container {
  min-height: 100%;
  position: relative;
}


a {
  color: #2D95BF;
  text-decoration: none;
}
a:hover {
  color: #85C440;
}

h2 {
  color: #F15A5A;
  margin: 1em 0 .7em;
  font-size: 200%;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

.page > p:first-child {
  margin-top: 2em;
}


.page-header {
  position: relative;
  height: 170px;
  background: #2D95BF;
  z-index: 1;
}
@media (max-width: 400px) {
  .page-header {
    height: 120px;
  }
}

.page-header .profile {
  border: 3px solid white;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 400px) {
  .page-header .profile {
    height: 110px;
    width: 110px;
    bottom: -15px;
  }
}
.page-header .profile img {
  height: 100%;
  width: 100%;
}


.main-links {
  position: absolute;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 200%;
  font-family: 'Aldrich';
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: top .8s;
}
.main-links.page-active {
  top: 0;
}
@media (max-width: 400px) {
  .main-links {
    top: 120px;
  }
}

.main-links .main-link {
  position: relative;
  height: 33.33%;
  cursor: pointer;
}

.main-links .main-link.green {
  background: #85C440;
}
.main-links .main-link.yellow {
  background: #F0C419;
}
.main-links .main-link.red {
  background: #F15A5A;
}

.main-links .main-link:before {
  content: '';
  height: 100%;
}
.main-links .main-link:before,
.main-links .main-link span {
  display: inline-block;
  vertical-align: middle;
}

.main-link-animation {
  transition: transform .8s ease-out, height .8s ease, font-size .8s ease;
  transform: translate3d(0, 0, 0);
}
.main-link-animation.switching {
  transition-duration: .8s, 0s, 0s;
}
.main-link-animation.active {
  font-size: 200%;
  height: 170px;
}
@media (max-width: 400px) {
  .main-link-animation.active {
    font-size: 135%;
    height: 120px;
  }
}
.main-link-animation.inactive {
  transform: translate3d(-100%, 0, 0);
}
.main-link-animation.inactive:not(.page-header) {
  height: 0;
}


.nav-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Aldrich';
  text-transform: uppercase;
  line-height: 50px;
  transition: transform .8s, visibility 0s;
  z-index: 1;
}
@media (max-width: 400px) {
  .nav-links {
    font-size: 80%;
    line-height: 40px;
  }
}
.nav-links.hidden {
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
}

.nav-links .nav-link {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  cursor: pointer;
  background: white;
  border-left: 1px solid #E5E5E5;
  border-top: 15px solid;
}
@media (max-width: 400px) {
  .nav-links .nav-link {
    border-top-width: 10px;
  }
}
.nav-links .nav-link:first-child {
  border-left: none;
}
.nav-links .nav-link.blue {
  color: #2D95BF;
  border-top-color: #2D95BF;
}
.nav-links .nav-link.green {
  color: #85C440;
  border-top-color: #85C440;
}
.nav-links .nav-link.yellow {
  color: #F0C419;
  border-top-color: #F0C419;
}
.nav-links .nav-link.red {
  color: #F15A5A;
  border-top-color: #F15A5A;
}


.page {
  position: relative;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0 20px;
  transition: opacity .8s, max-height 0s, padding 0s;
  text-align: left;
  margin: 0 auto;
  max-width: 740px;
}
.page.active {
  opacity: 1;
  max-height: 9999px;
  padding: 0 20px 65px;
  z-index: 1;
}
@media (max-width: 400px) {
  .page.active {
    padding: 0 20px 60px;
  }
}


.About-page .social-media {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
.About-page .social-media img {
  width: 100%;
  height: 100%;
}
.About-page .social-media.linkedin img {
  transform: translateY(-.5px) scale(1.11);
}
