.contact-page h2 {
  color: #4ad6b3;
}

.contact-page .social-media {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  vertical-align: top;
}

.contact-page .social-media img {
  width: 100%;
  height: 100%;
}

.contact-page .social-media.linkedin img {
  transform: translateY(-0.5px) scale(1.11);
}
