.main-links {
  font-family: 'Aldrich';
  font-size: 200%;
  font-weight: bold;
  position: absolute;
  top: 170px;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  transition: transform 0.6s;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.main-links.page-active {
  transform: translate3d(0, -170px, 0);
}

@media (max-width: 540px) {
  .main-links {
    top: 120px;
  }

  .main-links.page-active {
    transform: translate3d(0, -120px, 0);
  }
}

.main-links .main-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
  color: white;
}

.main-links .main-link:not(.active) {
  cursor: pointer;
}

.main-links .main-link .main-link-text {
  position: relative;
  z-index: 1;
  padding-top: 0.125em;
}

.main-link-animation {
  top: 0;
  transition: transform 0.6s ease-out, height 0.6s, font-size 0.6s, margin-left 0.6s, top 0.6s;
  transform: translate3d(0, 0, 0);
}

.main-link-animation.switching {
  transition-duration: 0s, 0s, 0s, 0s, 0.6s;
}

.main-link-animation.active {
  font-size: 200% !important;
  height: 170px;
}

@media (min-width: 901px) {
  .main-link-animation.active {
    margin-left: 65px;
  }
}

@media (max-width: 540px) {
  .main-link-animation.active {
    font-size: 135% !important;
    height: 120px;
  }
}

@media (max-width: 330px) {
  .main-link-animation.active {
    font-size: 125% !important;
  }
}

.main-link-animation.inactive {
  top: -170px;
  transform: translate3d(-100%, 0, 0);
}

.main-link-animation.inactive:not(.page-header) {
  height: 0;
}

@media (max-width: 540px) {
  .main-link-animation.inactive {
    top: -120px;
  }
}

.main-links .main-link.projects-link {
  background: #f49f5a;
}

.main-links .main-link .bg-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.main-links .main-link .left-bg,
.main-links .main-link .right-bg {
  position: absolute;
  top: 0;
  bottom: 0;
}

.main-links .main-link .left-bg {
  left: 0;
}

.main-links .main-link .right-bg {
  right: 0;
}

.main-links .main-link .moving .left-bg,
.main-links .main-link .moving .right-bg {
  background: white;
}

.main-links .main-link .shifting-sq {
  position: absolute;
  width: 50%;
  height: 25%;
  background: #f49f5a;
}

.main-links .main-link .shifting-sq.moving {
  transition: all 0.5s;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(1),
.main-links .main-link .right-bg .shifting-sq:nth-child(8),
.main-links .main-link .right-bg .shifting-sq:nth-child(9) {
  top: 0;
  right: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(2),
.main-links .main-link .right-bg .shifting-sq:nth-child(7),
.main-links .main-link .left-bg .shifting-sq:nth-child(9) {
  top: 25%;
  right: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(3),
.main-links .main-link .right-bg .shifting-sq:nth-child(6),
.main-links .main-link .right-bg .shifting-sq:nth-child(10) {
  top: 50%;
  right: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(4),
.main-links .main-link .right-bg .shifting-sq:nth-child(5),
.main-links .main-link .left-bg .shifting-sq:nth-child(10) {
  top: 75%;
  right: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(5),
.main-links .main-link .right-bg .shifting-sq:nth-child(4),
.main-links .main-link .right-bg .shifting-sq:nth-child(11) {
  top: 75%;
  left: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(6),
.main-links .main-link .right-bg .shifting-sq:nth-child(3),
.main-links .main-link .left-bg .shifting-sq:nth-child(11) {
  top: 50%;
  left: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(7),
.main-links .main-link .right-bg .shifting-sq:nth-child(2),
.main-links .main-link .right-bg .shifting-sq:nth-child(12) {
  top: 25%;
  left: 0;
}

.main-links .main-link .left-bg .shifting-sq:nth-child(8),
.main-links .main-link .right-bg .shifting-sq:nth-child(1),
.main-links .main-link .left-bg .shifting-sq:nth-child(12) {
  top: 0;
  left: 0;
}

.main-links .main-link .shifting-sq:nth-child(9),
.main-links .main-link .shifting-sq:nth-child(10),
.main-links .main-link .shifting-sq:nth-child(11),
.main-links .main-link .shifting-sq:nth-child(12) {
  transform: scale(0);
}

.main-links .main-link .shifting-sq.moving:nth-child(1),
.main-links .main-link .shifting-sq.moving:nth-child(3),
.main-links .main-link .shifting-sq.moving:nth-child(5),
.main-links .main-link .shifting-sq.moving:nth-child(7) {
  transform: scale(0);
}

.main-links .main-link .shifting-sq.moving:nth-child(2) {
  top: 50%;
  transition-delay: 0.5s;
}

.main-links .main-link .left-bg .shifting-sq.moving:nth-child(4) {
  right: 50%;
  transition-delay: 0.5s;
}

.main-links .main-link .right-bg .shifting-sq.moving:nth-child(4) {
  left: 50%;
  transition-delay: 0.5s;
}

.main-links .main-link .shifting-sq.moving:nth-child(6) {
  top: 25%;
  transition-delay: 0.5s;
}

.main-links .main-link .left-bg .shifting-sq.moving:nth-child(8) {
  left: 50%;
  transition-delay: 0.5s;
}

.main-links .main-link .right-bg .shifting-sq.moving:nth-child(8) {
  right: 50%;
  transition-delay: 0.5s;
}

.main-links .main-link .shifting-sq.moving:nth-child(9),
.main-links .main-link .shifting-sq.moving:nth-child(10),
.main-links .main-link .shifting-sq.moving:nth-child(11),
.main-links .main-link .shifting-sq.moving:nth-child(12) {
  transform: scale(1);
  transition-delay: 1s;
}

/* This timing is a best effort to match with Dr. Dre's "The Recipe" */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  6.25% {
    transform: scale(1.1);
  }

  12.5% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  31.25% {
    transform: scale(1.1);
  }

  37.5% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  56.25% {
    transform: scale(1.05);
  }

  62.5% {
    transform: scale(1);
  }

  68.75% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  87.5% {
    transform: scale(1);
  }

  93.75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.main-links .main-link.about-link:hover:not(.unhover) .main-link-text {
  animation: pulse 1.8s infinite;
}

.main-links .main-link .bars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-links .main-link:not(:hover) .bars,
.main-links .main-link.unhover .bars {
  transition: background 0s 0.4s;
  background: #8b78e2;
}

.main-links .main-link .bars .bar {
  height: 20%;
  transition: margin-left 0.4s, margin-right 0.4s;
  background: #8b78e2;
}

.main-links .main-link:not(:hover) .bars .bar,
.main-links .main-link.unhover .bars .bar {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main-links .main-link.contact-link {
  background: #4ad6b3;
}

.main-links .main-link .radar-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

@keyframes flash {
  50% {
    opacity: 0.7;
  }
}

.main-links .main-link .radar-grid .dot {
  position: absolute;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 50%;
  background: white;
  opacity: 0;
}

.main-links .main-link .radar-grid .dot.found {
  animation: flash 1s;
}

.main-links .main-link .radar-grid .radar-pulse {
  position: absolute;
  width: 4px;
  height: 4px;
  transition: all 1s linear;
  opacity: 0.7;
  border: 2px solid white;
  border-radius: 50%;
}

.main-links .main-link .radar-grid .radar-pulse.fading {
  opacity: 0;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}
