.main-links {
  position: absolute;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 200%;
  font-family: 'Aldrich';
  font-weight: bold;
  text-transform: uppercase;
  transition: transform .6s;
}
.main-links.page-active {
  transform: translate3d(0, -170px, 0);
}
@media (max-width: 400px) {
  .main-links {
    top: 120px;
  }
  .main-links.page-active {
    transform: translate3d(0, -120px, 0);
  }
}

.main-links .main-link {
  display: block;
  position: relative;
  height: 33.33%;
  cursor: pointer;
  color: white;
}
.main-links .main-link.green {
  background: #85C440;
}
.main-links .main-link.red {
  background: #F15A5A;
}
.main-links .main-link:before {
  content: '';
  height: 100%;
}
.main-links .main-link:before,
.main-links .main-link span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.main-link-animation {
  transition: transform .6s ease-out, height .6s, font-size .6s, margin-left .6s, top .6s;
  transform: translate3d(0, 0, 0);
  top: 0;
}
.main-link-animation.switching {
  transition-duration: 0s, 0s, 0s, 0s, .6s;
}
.main-link-animation.active {
  font-size: 200%;
  height: 170px;
}
@media (min-width: 901px) {
  .main-link-animation.active {
    margin-left: 65px;
  }
}
@media (max-width: 400px) {
  .main-link-animation.active {
    font-size: 135%;
    height: 120px;
  }
}
.main-link-animation.inactive {
  top: -170px;
  transform: translate3d(-100%, 0, 0);
}
.main-link-animation.inactive:not(.page-header) {
  height: 0;
}
@media (max-width: 400px) {
  .main-link-animation.inactive {
    top: -120px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  6.25% {
    transform: scale(1.1);
  }
  12.5% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }
  31.25% {
    transform: scale(1.1);
  }
  37.5% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }
  56.25% {
    transform: scale(1.05);
  }

  62.5% {
    transform: scale(1);
  }
  68.75% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }

  87.5% {
    transform: scale(1);
  }
  93.75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main-links .main-link.about-link:hover:not(.unhover) span {
  animation: pulse 1.8s infinite;
}
.main-links .main-link .bars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-links .main-link .bars .bar {
  height: 20%;
  background: #F0C419;
  transition: margin-left .4s, margin-right .4s;
}
.main-links .main-link:not(:hover) .bars .bar,
.main-links .main-link.unhover .bars .bar {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
