.nav-links {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: 'Aldrich';
  text-transform: uppercase;
  z-index: 1;
  transition: transform .6s, visibility 0s;
  user-select: none;
}
@media (max-width: 900px) {
  .nav-links {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 400px) {
  .nav-links {
    font-size: 80%;
  }
}
.nav-links.hidden {
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}
@media (max-width: 900px) {
  .nav-links.hidden {
    transform: translate3d(0, 100%, 0);
  }
}

.nav-links .nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  background: white;
  height: 25%;
  width: 65px;
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 901px) {
  .nav-links .nav-link {
    padding-right: 15px;
  }
  .nav-links .nav-link:first-child {
    border-top: none;
  }
}
@media (max-width: 900px) {
  .nav-links .nav-link {
    display: inline-block;
    vertical-align: top;
    height: 65px;
    width: 25%;
    border-right: none;
    border-left: 1px solid #E5E5E5;
    padding-top: 15px;
  }
  .nav-links .nav-link:first-child {
    border-left: none;
  }
}
@media (max-width: 400px) {
  .nav-links .nav-link {
    height: 50px;
    padding-top: 10px;
  }
}

.nav-links .nav-link:before,
.nav-links .nav-link .drape:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.nav-links .nav-link span {
  display: inline-block;
  vertical-align: middle;
  overflow-wrap: break-word;
  width: 1em;
}
@media (min-width: 901px) and (max-height: 600px) {
  .nav-links .nav-link span {
    font-size: 80%;
  }
}
@media (max-width: 900px) {
  .nav-links .nav-link span {
    overflow-wrap: normal;
    width: auto;
  }
}

.nav-links .nav-link .drape-wrap {
  position: absolute;
  overflow: hidden;
}
.nav-links .nav-link .drape {
  position: absolute;
  color: white;
}
@media (min-width: 901px) {
  .nav-links .nav-link .drape-wrap {
    right: 0;
    top: 0;
    bottom: 0;
    transition: width .6s;
    width: 15px;
  }
  .nav-links .nav-link:hover:not(.unhover) .drape-wrap {
    width: 100%;
  }
  .nav-links .nav-link .drape {
    padding-right: 15px;
    width: 65px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .nav-links .nav-link .drape-wrap {
    top: 0;
    left: 0;
    right: 0;
    transition: height .6s;
    height: 15px;
  }
  .nav-links .nav-link:hover:not(.unhover) .drape-wrap {
    height: 100%;
  }
  .nav-links .nav-link .drape {
    padding-top: 15px;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 400px) {
  .nav-links .nav-link .drape-wrap {
    height: 10px;
  }
  .nav-links .nav-link .drape {
    padding-top: 10px;
    height: 50px;
  }
}

.nav-links .nav-link.blue {
  color: #2D95BF;
}
.nav-links .nav-link.blue .drape {
  background: #2D95BF;
}
.nav-links .nav-link.green {
  color: #85C440;
}
.nav-links .nav-link.green .drape {
  background: #85C440;
}
.nav-links .nav-link.yellow {
  color: #F0C419;
}
.nav-links .nav-link.yellow .drape {
  background: #F0C419;
}
.nav-links .nav-link.red {
  color: #F15A5A;
}
.nav-links .nav-link.red .drape {
  background: #F15A5A;
}
