.transition-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.transition-screen:not(.active) {
  visibility: hidden;
}


.transition-screen .wall {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transition-screen .wall .bomb,
.transition-screen .wall .boom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  margin: auto;
  z-index: 1;
}
.transition-screen.active .wall .bomb,
.transition-screen.active .wall .fuse-wrap {
  transition: transform 1s .3s;
}
.transition-screen.finished .wall .bomb,
.transition-screen.finished .wall .fuse-wrap {
  visibility: hidden;
}
.transition-screen.active .wall .boom {
  transition: opacity 1s .3s;
}
.transition-screen:not(.finished) .wall .boom {
  visibility: hidden;
}
@keyframes shake {
  10% {
    transform: translate3d(6px, 5px, 0);
  }
  20% {
    transform: translate3d(-1px, -12px, 0);
  }
  30% {
    transform: translate3d(-3px, 8px, 0);
  }
  40% {
    transform: translate3d(10px, -5px, 0);
  }
  50% {
    transform: translate3d(18px, 10px, 0);
  }
  60% {
    transform: translate3d(1px, 0px, 0);
  }
  70% {
    transform: translate3d(19px, 11px, 0);
  }
  80% {
    transform: translate3d(19px, -4px, 0);
  }
  90% {
    transform: translate3d(11px, 7px, 0);
  }
}
.transition-screen.finished .wall .boom {
  animation: shake .5s;
  opacity: 0;
}

.transition-screen .wall .fuse-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto 100px;
  width: 12px;
  height: 180px;
  z-index: 1;
}
.transition-screen .wall .fuse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid #2B2B2A;
  border-right: 3px solid #2B2B2A;
  background: #CDA98A;
}
.transition-screen.active .wall .fuse {
  transition: height .5s;
}
.transition-screen .wall .fuse:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  margin-top: -25px;
  background: url(img/fuse-end.svg) center/100% no-repeat;
}

.transition-screen .wall .wall-piece {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  background-image: url(img/wall.jpg);
  background-size: 300px;
}


.transition-screen .puzzle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}

.transition-screen .puzzle .puzzle-sq {
  position: absolute;
  width: 33.3333%;
  height: 33.3333%;
  background-image: url(img/poyo.jpg);
  transition: all .15s linear;
}
.transition-screen .puzzle .puzzle-sq.blank {
  transform: scale(0);
}
.transition-screen.finished .puzzle .puzzle-sq.blank {
  transform: none;
}


.transition-screen .vault {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transition-screen .vault .door {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.transition-screen .vault .door:before,
.transition-screen .vault .door:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.transition-screen .vault .door:before {
  width: 80%;
  height: 80%;
  background: #32444A;
  border-radius: 50%;
}
.transition-screen .vault .door:after {
  background: url(./img/vault.png) center/100% no-repeat;
}

.transition-screen .vault .door span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-family: 'Aldrich';
  font-weight: 600;
  text-align: center;
  z-index: 1;
}


.post-transition-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-transition-screen:not(.active) {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: transform .75s 0s, visibility 0s .75s;
}
.post-transition-screen.active {
  transition: visibility 0s 1s;
}

.post-transition-screen .content {
  text-align: center;
}

.post-transition-screen .content .pusheen {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  background-repeat: no-repeat;
  margin: 40px auto;
  animation-duration: .6s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

@keyframes pusheen-exercise {
  0% {
    background-position: -10px -10px;
  }
  25% {
    background-position: -150px -10px;
  }
  50% {
    background-position: -10px -135px;
  }
  75% {
    background-position: -150px -135px;
  }
}
.post-transition-screen .content .pusheen.exercise {
  height: 105px;
  width: 120px;
  background-image: url(./img/pusheen/exercise.png);
  background-size: 280px 250px;
  animation-name: pusheen-exercise;
}

@keyframes pusheen-sushi {
  0% {
    background-position: -10px -10px;
  }
  25% {
    background-position: -137px -10px;
  }
  50% {
    background-position: -10px -150px;
  }
  75% {
    background-position: -137px -150px;
  }
}
.post-transition-screen .content .pusheen.sushi {
  height: 120px;
  width: 107px;
  background-image: url(./img/pusheen/sushi.png);
  background-size: 254px 280px;
  animation-name: pusheen-sushi;
}

@keyframes pusheen-pizza {
  0% {
    background-position: -6px -6px;
  }
  25% {
    background-position: -138px -6px;
  }
  50% {
    background-position: -6px -82px;
  }
  75% {
    background-position: -138px -82px;
  }
}
.post-transition-screen .content .pusheen.pizza {
  height: 64px;
  width: 120px;
  background-image: url(./img/pusheen/pizza.png);
  background-size: 264px 152px;
  animation-name: pusheen-pizza;
}

@keyframes pusheen-ramen {
  0% {
    background-position: -11px -11px;
  }
  25% {
    background-position: -153px -11px;
  }
  50% {
    background-position: -11px -152px;
  }
  75% {
    background-position: -153px -152px;
  }
}
.post-transition-screen .content .pusheen.ramen {
  height: 119px;
  width: 120px;
  background-image: url(./img/pusheen/ramen.png);
  background-size: 284px 282px;
  animation-name: pusheen-ramen;
}

@keyframes pusheen-fast-food {
  0% {
    background-position: -9px -9px;
  }
  25% {
    background-position: -147px -9px;
  }
  50% {
    background-position: -9px -121px;
  }
  75% {
    background-position: -147px -121px;
  }
}
.post-transition-screen .content .pusheen.fast-food {
  height: 94px;
  width: 120px;
  background-image: url(./img/pusheen/fast-food.png);
  background-size: 276px 224px;
  animation-name: pusheen-fast-food;
}

@keyframes pusheen-donut {
  0% {
    background-position: -11px -11px;
  }
  25% {
    background-position: -153px -11px;
  }
  50% {
    background-position: -11px -145px;
  }
  75% {
    background-position: -153px -145px;
  }
}
.post-transition-screen .content .pusheen.donut {
  height: 112px;
  width: 120px;
  background-image: url(./img/pusheen/donut.png);
  background-size: 284px 268px;
  animation-name: pusheen-donut;
}

@keyframes pusheen-sleep {
  0% {
    background-position: -10px -10px;
  }
  25% {
    background-position: -150px -10px;
  }
  50% {
    background-position: -10px -131px;
  }
  75% {
    background-position: -150px -131px;
  }
}
.post-transition-screen .content .pusheen.sleep {
  height: 101px;
  width: 120px;
  background-image: url(./img/pusheen/sleep.png);
  background-size: 280px 242px;
  animation-name: pusheen-sleep;
}
